* {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background: rgb(182, 182, 182);
}

p {
    font-size: 0.8em;
}

html {
    --color-white: rgb(255, 255, 255);
    --color-green:  linear-gradient(to right, rgba(44, 44, 44, 0.8), rgba(0,133,132, .1)), rgb(0,132,132);
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.col-left {
    max-width: 300px;
    float: left;
}

.col-right {
    max-width: 500px;
    float: right;
}

.wrapper::after{
    content: "";
    display: table;
    clear: both;
}

.my-photo {
    height: 220px;
    background: var(--color-green);
    position: relative;
}

.my-photo img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.svg {
    width: 25px;
}

.col-left-h2-container {
    background: var(--color-white);
    height: 50px;
    position: relative;
}

.col-left h2 {
    font-size: 1.4em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-green);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-details {
    background: var(--color-green);
    color: var(--color-white);
    height: 250px;
}

.contact-details a {
    color: var(--color-white);
    text-decoration: none;
}

.github a {
    transition: font-size 2s;
}

.github a:hover {
    color: rgb(192, 231, 100);
    border-bottom: 1px solid rgb(192, 231, 100);
    font-size: 1.1em;
}

.contact-details>div {
    width: 80%;
    padding-top: 20px;
    margin-left: 40px;
}

.contact-details div img {
    width: 15%;
    margin-right: 3%;
    float: left;
}

.contact-details div p {
    width: 82%;
    float: right;
}

.contact-details div:after {
    content: "";
    display: block;
    clear: both;
}

.languages-details {
    background: var(--color-green);
    color: rgb(255,255,255);
    height: 190px;
}

.lang-polish {
    margin-bottom: 15px;
}

.lang-polish, .lang-english {
    width: 80%;
    margin-left: 40px;
    padding-top: 20px;
}

.languages-details p, .competences-details p {
    margin: -15px 0px;
}

.polish-info, .english-info {
    width: 75%;
    float: left;
}

.rating {
    width: 25%;
    float: right;
    height: 12px;
    background: url(../svg/star.svg);
}

.languages div:after {
    content: "";
    display: block;
    clear: both;
}

.star-5 {
    width: 60px;
}

.star-4 {
    width: 48px;
}

.star-3 {
    width: 36px;
}
.star-2 {
    width: 24px;
}

.star-1 {
    width: 12px;
}

.star {
    position: relative;
}

.star .tooltip {
    opacity: 0;
    width: 150px;
    background: rgb(0,0,0);
    color: var(--color-white);
    text-align: center;
    border-radius: 5px;
    padding: 5px 0px;

    position: absolute;
    z-index: 1;
    bottom: 120%;

    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
}

.star .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.star:hover .tooltip {
    opacity: 1;
}

h3 {
    margin-bottom: 0px;
}

.competences-details {
    background: var(--color-green);
    color: rgb(255,255,255);
    height: 420px;
}

.competences-details>div {
    width: 80%;
    margin-top: 35px;
    margin-left: 40px;
}

.competences-details>div:first-child {
    width: 80%;
    padding-top: 20px;
    margin-top: 0;
}

.html-info, .css-info, .js-info, .ps-info, .ux-info {
    width: 75%;
    float: left;
}

.competences div:after {
    content: "";
    display: block;
    clear: both;
}

.my-name {
    background: var(--color-white);
    color: var(--color-green);
    height: 220px;
}

.my-name p {
    color: rgb(130, 130, 130);
    margin-left: 40px;
    font-size: 1.5em;
}

.my-name h1 {
    font-size: 3.5em;
    padding-top: 20px;
    padding-left: 40px;
    line-height: 1.3em;
}

.my-name h1, .my-name p {
    text-transform: uppercase;
    font-weight: bold;
}

.col-right-h2-container {
    background: var(--color-green);
    height: 50px;
    position: relative;
}

.col-right h2 {
    text-transform: uppercase;
    color: var(--color-white);
    padding-top: 11px;
    margin-left: 40px;
}

.education-details {
    height: 250px;
}

.education-details, .objectives-details, .hobbies-details, .about-me-details {
    background: var(--color-white);
}

.educ-first, .educ-second {
    margin-left: 40px;
    padding-top: 20px;
}

.educ-first h3, .educ-second h3 {
    width: 65%;
    float: left;
    line-height: 1.6em;
}

.educ-first p, .educ-second p {
    width: 25%;
    float: left;
    background: var(--color-green);
    color: var(--color-white);
    height: 25px;
    text-align: center;
    padding: 5px;
}

.educ-first span, .educ-second span {
    font-weight: normal;
    font-size: 0.9em;
}

.educ-first:after, .educ-second:after {
    content: "";
    display: block;
    clear: both;
}

.objectives-details {
    height: 190px;
}

.objectives-details p {
    font-size: 1.2em;
    text-align: left;
    padding-top: 30px;
    margin-left: 40px;
}

.hobbies-details {
    height: 205px;
    padding: 20px;
}

.hobbies-details div {
    display: inline;
    text-align: center;
}

.hobbies-details div label {
    width: 20%;
    float: left;
    font-size: 20px;
    margin-top: 10px;
}

.hobbies-details div input {
    width: 40%;
    float: left;
    height: 22px;
    border-radius: 3px;
    margin-top: 10px;
}

.hobbies-details textarea {
    resize: none;
}

.hobbies-details .submit-btn {
    width: 150px;
    height: 30px;
    background-color: #2f12d1;
    outline: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.hobbies-details div::after {
    content: "";
    display: table;
    clear: both;
}

.about-me-details {
    height: 165px;
}

.about-me-details p{
    width: 70%;
    font-size: 1.1em;
    text-align: left;
    margin: 0 auto 0 40px;
    padding-top: 30px;
}

.privacy-content {
    text-align: center;
    font-size: 16px;
    line-height: 1.5em;
}

.table-creation {
    width: 30%;
    float: left;
}

.show-hide-table {
    width: 30%;
    float: left;
    margin: 70px 50px;
}
